header {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
footer{
    font-family: Arial;
    /* font-size: 14px; */
    margin: 0;
    padding: 0;
    background-color: #BDCACD;
}

.navbar {
    background-color: #0C0DF0;
}

.nav-links a:hover {
    background-color: #232376; /* change a color when a mouse hover*/
}

.nav-logo{
    height: 40px;
    width: 100px;
    padding: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  /* flex made the nevbar items stay on a holizontel line  */
}
/* relative */
.nav-links li {
    position: relative;
}

.nav-links a {
    display: block;
    color: #F5D026;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.div-container-gallery{
    border: 2px solid #0C0DF0;
    margin: auto;
    width:70%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* display: flex;  */
}
.div-container-gallery div{
    margin: 15px 15px 15px 15px;
    display:inline-block;
    
}
#p-picture{
    border: 2px solid #0C0DF0;
    text-align: center;
    height: 200px;
    width: 155px;
    background-color: #0C0DF0;
    display:inline-flex; 
    margin-bottom: 0%;
    
}
#p-text{
    border: 2px solid #0C0DF0;
    color: #000000;
    text-align: center;
    height: 100px;
    width: 155px;
    display:inline-flex;
    padding-top: 20px;
    margin-top: 0%;
    
}
#p-text:hover {
    color: red;
}
.div-img{
    border: 2px solid #0C0DF0;
    height: 150px;
    width: 120px;
    margin: auto;  
}

.div-container-form{
    /* border: 2px solid #e1f00c; */
    background-color: #F5D026;
    /* margin-top: 20%; */
    margin: auto; 
    width:70%;
    height: 500px;
    display: block;
}
.div-container-form div{
    margin: 15px;

}
.div-container-form #bordercolor {
    border:2px solid #0C0DF0;
}
 
input[type="checkbox"] {
    outline: 2px solid #0C0DF0;
}



/* 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    cursor: pointer;
} */